# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/*.vue.js.map
echo "##active_line2##"
src/*.js.map
echo "##active_line3##"
src/*.vue.js
echo "##active_line4##"
src/telegram.js.map
echo "##active_line5##"
src/telegram.js
